@font-face
  font-family: 'AndaleMono'
  src: url('../fonts/AndaleMono.ttf') format('truetype')
  font-weight: $font-weight-light
  font-style: normal
  

  @font-face
  font-family: 'AmericanTypeWriter'
  src: url('../fonts/AmericanTypeWriter.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AmericanTypeWriter.ttf') format('truetype')
  font-weight: $font-weight-light
  font-style: normal