@font-face
  font-family: 'AndaleMono'
  src: url('resources/AndaleMono.ttf') format('truetype')
  font-weight: $font-weight-medium
  font-style: normal
  

@font-face
  font-family: 'AmericanTypeWriter'
  src: url('resources/AmericanTypeWriter.otf') format('opentype')
  font-weight: $font-weight-light
  font-style: normal
  
@font-face
  font-family: 'AmTypeWriter'
  src: url('resources/AmTypeWriter.otf')  format('opentype')
  font-weight: $font-weight-light
  font-style: normal
  