.navbar-container
  width: 100%
  height: 48px
  background-color: red
  position: absolute
  top: 0
  z-index: 1000

.navbar-menu-toggle
  display: none

.navbar-menu
  display: block
  height: 48px
  width: 48px
  background-color: green
  
.navbar-menu-toggle:checked
  + .navbar-menu
    background-color: blue
.navbar-menu-toggle:not(:checked)
  + .navbar-menu
    background-color: green