.img-fullscreen
  height: 100vh
  width: 100vw
  background-image: url("../resources/home-bkg.png")
  background-repeat: no-repeat
  background-size: cover;
  text-align: right
  font-size: 0 //- This is to prevent the akwards spaces inside the top block
  
.img--no-gutter
  width: 100%