.navgation-item-title
  display: block
  font: 100 22px Bakersfield
  font-weight: $font-weight-light
  color: white  
  text-align: right
  + .navgation-item-title
    margin-top: 5vw
    
.body
  color: white
  font: 100 18px Bakersfield

.light
  font-weight: $font-weight-light

.bold
  font-weight: $font-weight-bold
  
.menu-logo-small
  font-size: 18px
  margin: 0px 36px

.menu-logo-large
  font-size: 22px
  margin: 18px 0