.img-fullscreen
  .navbar-container
    input(type="checkbox" id="navbar-toogle").navbar-menu-toggle
    label(for="navbar-toogle").navbar-menu-tg-container
      .navbar-menu-tg-icon-top
      .navbar-menu-tg-icon-bot
    p.navbar-logo Patrícia Hokama
    .navbar-menu-container
      p.body.heading Portfolio of
      p.body.main Patrícia Hokama
      p.body.footer A Product Designer

  .frame-top
  .frame-bottom
  .frame-right
  .frame-left
  .navgation-title-container
    a.navgation-item-title Projects
    a.navgation-item-title About
    a.navgation-item-title Contact
    a.navgation-item-title Curriculum