.navbar-container
  input(type="checkbox" id="navbar-toogle").navbar-menu-toggle
  label(for="navbar-toogle").navbar-menu-tg-container
    .navbar-menu-tg-icon-top
    .navbar-menu-tg-icon-bot
  .navbar-menu-container

img.img-user-banner(src="http://static.wixstatic.com/media/3bf4ad_605201a3bbf84879ab3b2d0b3e904e8c.jpg_srz_p_252_96_75_22_0.50_1.20_0.00_jpg_srz")


