.img-neutral
  include ./partials/navbar.jade
  a.img-overlay
    p.body.light.largest.img-overlay-text Mooca Nostra
    img.img-project-item(src="/patricia-hokama/resources/project-mooca.png")
    
  a.img-overlay
    p.body.light.largest.img-overlay-text Blue de Channel
    img.img-project-item(src="/patricia-hokama/resources/project-blue.png")

  a.img-overlay
    p.body.light.largest.img-overlay-text Redesign Dvd
    img.img-project-item(src="/patricia-hokama/resources/project-Dvd.png")

  a.img-overlay
    p.body.light.largest.img-overlay-text Hot Glasses
    img.img-project-item(src="/patricia-hokama/resources/project-Hot.png")

  a.img-overlay
    p.body.light.largest.img-overlay-text Let's play?
    img.img-project-item(src="/patricia-hokama/resources/project-letsPlay.png")

  a.img-overlay
    p.body.light.largest.img-overlay-text Revista Minha Casa
    img.img-project-item(src="/patricia-hokama/resources/project-minhaCasa.png")

  a.img-overlay
    p.body.light.largest.img-overlay-text Render
    img.img-project-item(src="/patricia-hokama/resources/project-mouse.png")